

body {
  background-image: linear-gradient(180deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%));;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 70px;
}

.accordion {
    margin-left: 50px;
    background-color: white;
    cursor: pointer;
    padding: 1.8em;
    width: 85%;
    height: 1em;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
  }

  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .panel {
    margin-left: 60px;
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    width: 50%;
    height: 5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    
  }

  .bigcontainer {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      
  }

.infocontainer {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 40%;
    height: 60%;
    background-color: white;
    
    
}

.imgcontainer {
    width: 40%;
    height: 60%;
    background-color: white;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    
    
}

.woman {
   width: 90%;
   position: relative;
   right: 50px;
   
}